
@{
    ViewData["Title"] = "Index";
}


<div class="container-full">
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Aviso</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">Home</li>
                            <li class="breadcrumb-item active" aria-current="page">Acesso Negado</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Aviso de Acesso negado</h4>
                    </div>
                    <div class="box-body">
                        Você não tem acesso ao sistema.
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        Entre em contato com o administrador.
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
        </div>
    </section>
</div>

   
