
@{
    ViewData["Title"] = "Reset Senha";
    Layout = null;
}
@model LoginModel
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="O melhor restaurnte de campinas e região">
    <meta name="author" content="demissmartin@hotmail.com;sergiocotrim100@yahoo.com">
    <link rel="icon" href="../images/favicon_Don_Manoel.png">

    <title>Don Manoel</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="../css/vendors_css.css">

    <!-- Style-->
    <link rel="stylesheet" href="../css/horizontal-menu.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/skin_color.css">

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url(../images/auth-bg/bg-2.jpg)">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">

            <div class="col-12">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="bg-white rounded10 shadow-lg">
                            <div class="content-top-agile p-20 pb-0">
                                <h3 class="mb-0 text-primary">Resetar Senha</h3>
                            </div>
                            <div class="p-40">
                                <form id="formLogin" method="post" asp-action="ResetPassAsync">
                                    <div class="form-group">
                                        <label>E-mail <span class="text-danger">*</span> <small><i>É necessário informar o e-mail.</i></small></label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-transparent"><i class="ti-email"></i></span>
                                            <input type="email" class="form-control ps-15 bg-transparent" placeholder="E-mail" asp-for="Email">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <a href="/AccessUser/LoginAsync" class="btn btn-danger ">Cancelar</a>
                                            <button type="submit" class="btn btn-info margin-top-10">Resetar Senha</button>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                </form>
                                <div class="text-center">
                                    @*<p class="mt-15 mb-0">Não tem uma conta? <a href="auth_register.html" class="text-warning ms-5">Cadastre-se</a></p>*@
                                    <div class="logo-lg">
                                        <span class="light-logo"><img src="~/images/logo don manoel 160 x 55.png" alt="logo"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Vendor JS -->
    <script src="../js/vendors.min.js"></script>
    <script src="../js/pages/chat-popup.js"></script>
    <script src="../assets/vendor_components/apexcharts-bundle/dist/apexcharts.min.js"></script>
    <script src="../assets/icons/feather-icons/feather.min.js"></script>


    <script>

    </script>
</body>
</html>
