
<div class="row">
    <div class="col-xxxl-8 col-12">
        <div class="box">
            <div class="box-header bg-primary">
                <h4 class="box-title">PEDIDO (6 ITEMS)</h4>
            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="table product-overview">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product info</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th style="text-align:center">Total</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="../images/product/product-1.png" alt="" width="80"></td>
                                <td>
                                    <h5>Product Name Here</h5>
                                    <p>Lorem Ipsum available the majority have suffered alteration in some.</p>
                                </td>
                                <td>$270</td>
                                <td width="70">
                                    <input type="number" class="form-control" placeholder="1" min="0" max="5">
                                </td>
                                <td width="100" align="center" class="fw-900">$270</td>
                                <td align="center"><a href="javascript:void(0)" class="btn btn-circle btn-danger btn-xs" title="" data-bs-toggle="tooltip" data-bs-original-title="Delete"><i class="ti-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td><img src="../images/product/product-2.png" alt="" width="80"></td>
                                <td>
                                    <h5>Product Name Here</h5>
                                    <p>Lorem Ipsum available the majority have suffered alteration in some.</p>
                                </td>
                                <td>$270</td>
                                <td>
                                    <input type="number" class="form-control" placeholder="1" min="0" max="5">
                                </td>
                                <td align="center" class="fw-900">$270</td>
                                <td align="center"><a href="javascript:void(0)" class="btn btn-circle btn-danger btn-xs" title="" data-bs-toggle="tooltip" data-bs-original-title="Delete"><i class="ti-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td><img src="../images/product/product-3.png" alt="" width="80"></td>
                                <td>
                                    <h5>Product Name Here</h5>
                                    <p>Lorem Ipsum available the majority have suffered alteration in some.</p>
                                </td>
                                <td>$270</td>
                                <td>
                                    <input type="number" class="form-control" placeholder="1" min="0" max="5">
                                </td>
                                <td align="center" class="fw-900">$270</td>
                                <td align="center"><a href="javascript:void(0)" class="btn btn-circle btn-danger btn-xs" title="" data-bs-toggle="tooltip" data-bs-original-title="Delete"><i class="ti-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td><img src="../images/product/product-4.png" alt="" width="80"></td>
                                <td>
                                    <h5>Product Name Here</h5>
                                    <p>Lorem Ipsum available the majority have suffered alteration in some.</p>
                                </td>
                                <td>$270</td>
                                <td>
                                    <input type="number" class="form-control" placeholder="1" min="0" max="5">
                                </td>
                                <td align="center" class="fw-900">$270</td>
                                <td align="center"><a href="javascript:void(0)" class="btn btn-circle btn-danger btn-xs" title="" data-bs-toggle="tooltip" data-bs-original-title="Delete"><i class="ti-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td><img src="../images/product/product-5.png" alt="" width="80"></td>
                                <td>
                                    <h5>Product Name Here</h5>
                                    <p>Lorem Ipsum available the majority have suffered alteration in some.</p>
                                </td>
                                <td>$270</td>
                                <td>
                                    <input type="number" class="form-control" placeholder="1" min="0" max="5">
                                </td>
                                <td align="center" class="fw-900">$270</td>
                                <td align="center"><a href="javascript:void(0)" class="btn btn-circle btn-danger btn-xs" title="" data-bs-toggle="tooltip" data-bs-original-title="Delete"><i class="ti-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td><img src="../images/product/product-6.png" alt="" width="80"></td>
                                <td>
                                    <h5>Product Name Here</h5>
                                    <p>Lorem Ipsum available the majority have suffered alteration in some.</p>
                                </td>
                                <td>$270</td>
                                <td>
                                    <input type="number" class="form-control" placeholder="1" min="0" max="5">
                                </td>
                                <td align="center" class="fw-900">$270</td>
                                <td align="center"><a href="javascript:void(0)" class="btn btn-circle btn-danger btn-xs" title="" data-bs-toggle="tooltip" data-bs-original-title="Delete"><i class="ti-trash"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                    <button class="btn btn-info"><i class="fa fa-arrow-left"></i> Continue shopping</button>
                </div>

            </div>
        </div>
    </div>
</div>