<div class="modal modal-right fade" id="modalDetalhesMenu" tabindex="-1" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detahes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <hr />
                <p id="MenuDescricao">

                </p>

                <div class="box">
                    <div class="box-header bg-info">
                        <h4 class="box-title">Receita</h4>
                    </div>

                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table simple mb-0" id="tbReceita">
                                <tbody id="result">
                                    @*<tr>
                                        <td>Total</td>
                                        <td class="text-end fw-700">$3240</td>
                                    </tr>
                                    <tr>
                                        <td>Coupan Discount</td>
                                        <td class="text-end fw-700"><span class="text-danger me-15">50%</span>-$1620</td>
                                    </tr>
                                    <tr>
                                        <td>Delivery Charges</td>
                                        <td class="text-end fw-700">$50</td>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <td class="text-end fw-700">$18</td>
                                    </tr>
                                    <tr>
                                        <th class="bt-1">Payable Amount</th>
                                        <th class="bt-1 text-end fw-900 fs-18">$1688</th>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary float-end">Adicionar</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer modal-footer-uniform">
              
            </div>
        </div>
    </div>
</div>