@model List<Core.Entities.Pedido>
@using CrossCutting


@{
    var model = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<script type="text/javascript">
    var pedidos = JSON.parse('@Html.Raw(model)');
</script>


<div class="table-responsive">
    <table class="table b-1 border-danger">
        <thead class="bg-danger">
            <tr>
                <th>Pedido</th>
                <th>Atendente</th>
                <th>Tempo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Core.Entities.Pedido pedido in Model)
            {
            <tr>
                <td>@pedido.IdMesa.ToString("000")</td>
                <td>@pedido.Atendente.FirstName()</td>
                <td>@pedido.Tempo</td>
            </tr>
            }
        </tbody>
    </table>
</div>