@model List<Core.Entities.Pedido>
@using CrossCutting


@{
    var model = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<script type="text/javascript">
    var pedidos = JSON.parse('@Html.Raw(model)');
</script>


<div class="table-responsive">
    <table class="table b-1 border-danger">
        <thead class="bg-danger">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nigam</td>
                <td>Eichmann</td>

            </tr>
            <tr>
                <td>2</td>
                <td>Deshmukh</td>
                <td>Prohaska</td>

            </tr>
            <tr>
                <td>3</td>
                <td>Roshan</td>
                <td>Rogahn</td>

            </tr>
        </tbody>
    </table>
</div>