@model Core.Entities.Pedido
@using CrossCutting


<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            @foreach (var categoria in (List<Core.Entities.Categoria>)ViewBag.Categorias)
            {
                <h3 class="page-title" style="text-decoration:underline;">@categoria.Nome</h3>

                @foreach (var menu in categoria.Menu)
                {
                    <div class="col-xxxl-3 col-xl-4 col-lg-6 col-12">
                        <div class="box food-box">
                            <div class="box-body text-center">
                                <div class="menu-item"><img src="/images/food/dish-1.png" class="img-fluid w-p75" alt=""></div>
                                <div class="menu-details text-center">
                                    <h4 class="mt-20 mb-10">@menu.Nome</h4>
                                    @*<p>Food/Noodle</p>*@
                                </div>
                                <div class="act-btn d-flex justify-content-between">
                                    <div class="text-center mx-5">
                                        <a href="#" class="waves-effect waves-circle btn btn-circle btn-success-light btn-xs mb-5"><i class="fa fa-eye-slash"></i></a>
                                        <small class="d-block">Ver</small>
                                    </div>
                                    <div class="text-center mx-5">
                                        <a href="#" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-edit"></i></a>
                                        <small class="d-block">Editar</small>
                                    </div>
                                    <div class="text-center mx-5">
                                        <a href="#" class="waves-effect waves-circle btn btn-circle btn-primary-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                        <small class="d-block">Remover</small>
                                    </div>
                                    <div class="text-center mx-5">
                                        <a href="#" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                        <small class="d-block">Duplicar</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>
