@model List<Core.Entities.Pedido>


<div id="divPedidosBar">
    @await Html.PartialAsync("_barPartial", Model)

</div>


@section Scripts
{
    <script src="~/admin/js/viewsScript/sales/bar.js?cache=@ViewData["version"].ToString()"></script>
}
