@model List<Core.Entities.Pedido>


<div id="divPedidosCozinha">
    @await Html.PartialAsync("_kitchenPartial", Model)

</div>


@section Scripts
{
    <script src="~/js/viewsScript/sales/kitchen.js?cache=@ViewData["version"].ToString()"></script>
}
